.card {
  background-image: url(https://images.pexels.com/photos/35016/soap-bubble-colorful-ball-soapy-water.jpg?cs=srgb&dl=pexels-pixabay-35016.jpg&fm=jpg);
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  -webkit-background-clip: content-box;
  color: transparent;
}
