.sidebar {
  height: 100%;
  background: #fff !important;
  position: relative !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  color: black !important;
  border-right: 1px solid black !important;
  border-bottom: 1px solid black !important;
}
.sidebar-icon {
  color: black;
}
.sidebar-item {
  padding-left: 0px !important ;
}
.sidebar-item:hover {
  /* background-image: linear-gradient(to right, #e8f0ff25, #202c70); */
  /* color: #fff; */
  cursor: pointer;
  background-color: #dad9d9;
  color: black;
  font-weight: 800;
}
.logout:hover {
  cursor: pointer;
  background-color: #ee6b6e;
  color: black;
  font-weight: 900;
}
.sidebar-listitem-active-btn {
  padding: 12px !important;
}
